
{% extends "templates/base.html" %}
{% block content %} 
<title>About</title>


	<p>
		My name is Salena Somani. I am currently studying Human-Computer Interaction and Social Computing in the School of Information at the University of Michigan, Ann Arbor. I joined UMich in 2015 after completing my Bachelor of Science in Psychology and a minor in Informatics at the University of Illinois at Urbana-Champaign. I am interested in HCI, UX design and research, and social computing as a means to promote prosocial behavior. Other areas of interest include: social and behavioral psychology, child development, social justice, community development, religions and cultures.</p>

	<p>
		 Aside from my studies, I enjoy travel and photography. I've been fortunate enough to travel through parts of Southeast Asia, Europe, and Northern Africa. My favorite countries include Cambodia, Morocco, and Turkey. My next excursion will include traveling to the Middle East. When not globetrotting, I spend my free time living vicariously through hedonistic rap music and unrealistic 90s/00s teen dramas.</p>
{%endblock%}