{%extends "templates/base.html" %}
{% block content %}
<title>Portfolio</title>

	
		<h3>Inconvenient Questions Mobile App</h3>
		<p> In the Fall of 2014 while I was studying User Centered Design at the National University of Singapore, my teammates and I designed a prototype of a mobile application for Inconvenient Questions (IQ). IQ is a sociopolitical site based in Singapore. The mission of this site is to provide a safe avenue for "netizens" to discuss controversial issues, stay informed and get answers from the experts. As the team leader, I presented our research and designs to our client, IQ. </p>


		<h3>Facebook Privacy Page Re-Design</h3>
		<p>In Spring 2014 while studying Privacy and Technology at the University of Illinois, Urbana-Champaign, I was able to conduct research on user’s behavior with their privacy settings on Facebook. Through questionnaires, I found that the terminology and design strategies Facebook used at the time, left individuals confused about their own rights to their privacy. While legally compiling a plethora of personal data, Facebook lacked in practicing a comprehensive design strategy that users could easily navigate through. From research gathered, I began designing a more intuitive Privacy Settings section. I found that 9 out of 10 subjects preferred my design over the original in the areas of terminology, transparency of information, and ease of use.</p>
		

		

	{% endblock %}