@media only screen and (min-width: 300px){
	body{
		margin: 1%;
		padding:1%;
		
		font-size: 150%; 
		min-width: 500px;
		font-family: sans-serif, Arial;
	}

	.me{
		text-align: left;
		padding: .5em;
	}

	h1{
		text-align: left;
		text-transform: uppercase;
		font-weight: lighter;
	}

	h2{
		font-size: 14px;
		text-align: left;
		text-transform: uppercase;
		font-weight: normal;
	}

	nav{
		font-size: 13px;
		text-transform: uppercase;
		word-spacing: 15px;
		line-height: 50px;
	
	}

	nav a{
		display: inline-block;
	}

	.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{
		background-color:red;
	}










	
	.center{
		text-align: left;
		line-height: 50px;
	}

	.pic{
		display: none;
	}

	footer{
		text-align: center;
	}

		.social{
		display: inline-block;
		padding: .5em;
	}

	
	



}





@media (min-width: 600px){
	body{
		

	}

	.me{
		text-align: center;
	}


	h1{
		text-align: center;
	}

	h2{
		text-align: center;
	}

	.pic{
		display: inline-block;
	}
}
@media (min-width: 800px){

	header{
		background-image: url("hafez.jpg");
	}
	body{
		
	}	

	.me{
		text-align: right;

	}




	h1{
		text-align: right;
	}

	h2{
		text-align: right;
	}

	#left {
		float: left;
		width: 30%;
		
	}

	#right {
		float: right;
		width: 70%;
	}

	img{
		display: inline-block;
		
		padding: .5em;
	}



	.twitter:after{
		content: "twitter";
	}

	.vsco:after{
		content: "vsco"
	}

	.linked:after{
		content: "linkedin"
	}

	.insta:after{
		content: "instagram"
	}
}