{%extends "templates/base.html" %}
{% block content %}
<title>Travels</title>

<section id = "left">
	<h4>Summer 2015</h4>
	<p>
		This summer I backpacked through three continents, eight countries, eighteen cities within the span of two months. The people I met and the places I saw along the way created an unforgettable experience. Here are a selection of a few of my favorite images from each country. 
	</p>

	<p>


This summer I backpacked through three continents, eight countries, eighteen cities within the span of two months. The people I met and the places I saw along the way created an unforgettable experience. Here are a selection of a few of my favorite images from each country. 
</p>

<h4>Places visited:</h4>
<p>
Morocco: Marrakech, Casablanca, Fes, Chefchaouen
</p>
<p>
Turkey: Istanbul
</p>
<p>
Spain: Barcelona, Montserrat, Granada, Cordoba, Seville, Madrid
</p>
<p>
Portugal: Lisbon
</p>
<p>
France: Paris
</p>
<p>
Netherlands: Amsterdam
</p>
<p>
United Kingdom: London, Cambridge
</p>
<p>
Italy: Milan, Cinque Terre 
</p>

</section>

	<div class= "travel">
		<img src = "static/mo.jpg" alt = "morocco"/>
		<img src = "static/it.jpg" alt = "italy"/>
		<img src = "static/fr1.jpg" alt = "france"/>
		<img src = "static/po.jpg" alt = "portugal"/>
		<img src = "static/sp.jpg" alt = "spain"/>
		<img src = "static/ne.jpg" alt = "netherlands"/>
		<img src = "static/tu.jpg" alt = "turkey"/>
		<img src = "static/un.jpg" alt = "UK"/>
		<img src = "static/fr.jpg" alt = "france"/>
	</div>



	<p>

	{% endblock %}